.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.w-5px {
    width: 5px !important;
}

.w-1px {
    width: 1px !important;
}

.w-10px {
    width: 10px !important;
}

.w-2px {
    width: 2px !important;
}

.w-15px {
    width: 15px !important;
}

.w-3px {
    width: 3px !important;
}

.w-20px {
    width: 20px !important;
}

.w-4px {
    width: 4px !important;
}

.w-25px {
    width: 25px !important;
}

.w-5px {
    width: 5px !important;
}

.w-30px {
    width: 30px !important;
}

.w-6px {
    width: 6px !important;
}

.w-35px {
    width: 35px !important;
}

.w-7px {
    width: 7px !important;
}

.w-40px {
    width: 40px !important;
}

.w-8px {
    width: 8px !important;
}

.w-45px {
    width: 45px !important;
}

.w-9px {
    width: 9px !important;
}

.w-50px {
    width: 50px !important;
}

.w-10px {
    width: 10px !important;
}

.w-55px {
    width: 55px !important;
}

.w-11px {
    width: 11px !important;
}

.w-60px {
    width: 60px !important;
}

.w-12px {
    width: 12px !important;
}

.w-65px {
    width: 65px !important;
}

.w-13px {
    width: 13px !important;
}

.w-70px {
    width: 70px !important;
}

.w-14px {
    width: 14px !important;
}

.w-75px {
    width: 75px !important;
}

.w-15px {
    width: 15px !important;
}

.w-80px {
    width: 80px !important;
}

.w-16px {
    width: 16px !important;
}

.w-85px {
    width: 85px !important;
}

.w-17px {
    width: 17px !important;
}

.w-90px {
    width: 90px !important;
}

.w-18px {
    width: 18px !important;
}

.w-95px {
    width: 95px !important;
}

.w-19px {
    width: 19px !important;
}

.w-100px {
    width: 100px !important;
}

.w-20px {
    width: 20px !important;
}

.w-105px {
    width: 105px !important;
}

.w-21px {
    width: 21px !important;
}

.w-110px {
    width: 110px !important;
}

.w-22px {
    width: 22px !important;
}

.w-115px {
    width: 115px !important;
}

.w-23px {
    width: 23px !important;
}

.w-120px {
    width: 120px !important;
}

.w-24px {
    width: 24px !important;
}

.w-125px {
    width: 125px !important;
}

.w-25px {
    width: 25px !important;
}

.w-130px {
    width: 130px !important;
}

.w-26px {
    width: 26px !important;
}

.w-135px {
    width: 135px !important;
}

.w-27px {
    width: 27px !important;
}

.w-140px {
    width: 140px !important;
}

.w-28px {
    width: 28px !important;
}

.w-145px {
    width: 145px !important;
}

.w-29px {
    width: 29px !important;
}

.w-150px {
    width: 150px !important;
}

.w-30px {
    width: 30px !important;
}

.w-155px {
    width: 155px !important;
}

.w-31px {
    width: 31px !important;
}

.w-160px {
    width: 160px !important;
}

.w-32px {
    width: 32px !important;
}

.w-165px {
    width: 165px !important;
}

.w-33px {
    width: 33px !important;
}

.w-170px {
    width: 170px !important;
}

.w-34px {
    width: 34px !important;
}

.w-175px {
    width: 175px !important;
}

.w-35px {
    width: 35px !important;
}

.w-180px {
    width: 180px !important;
}

.w-36px {
    width: 36px !important;
}

.w-185px {
    width: 185px !important;
}

.w-37px {
    width: 37px !important;
}

.w-190px {
    width: 190px !important;
}

.w-38px {
    width: 38px !important;
}

.w-195px {
    width: 195px !important;
}

.w-39px {
    width: 39px !important;
}

.w-200px {
    width: 200px !important;
}

.w-40px {
    width: 40px !important;
}

.w-250px {
    width: 250px !important;
}

.w-300px {
    width: 300px !important;
}

.w-350px {
    width: 350px !important;
}

.w-400px {
    width: 400px !important;
}

.w-450px {
    width: 450px !important;
}

.w-500px {
    width: 500px !important;
}

.w-550px {
    width: 550px !important;
}

.w-600px {
    width: 600px !important;
}

.h-5px {
    height: 5px !important;
}

.h-1px {
    height: 1px !important;
}

.h-10px {
    height: 10px !important;
}

.h-2px {
    height: 2px !important;
}

.h-15px {
    height: 15px !important;
}

.h-3px {
    height: 3px !important;
}

.h-20px {
    height: 20px !important;
}

.h-4px {
    height: 4px !important;
}

.h-25px {
    height: 25px !important;
}

.h-5px {
    height: 5px !important;
}

.h-30px {
    height: 30px !important;
}

.h-6px {
    height: 6px !important;
}

.h-35px {
    height: 35px !important;
}

.h-7px {
    height: 7px !important;
}

.h-40px {
    height: 40px !important;
}

.h-8px {
    height: 8px !important;
}

.h-45px {
    height: 45px !important;
}

.h-9px {
    height: 9px !important;
}

.h-50px {
    height: 50px !important;
}

.h-10px {
    height: 10px !important;
}

.h-55px {
    height: 55px !important;
}

.h-11px {
    height: 11px !important;
}

.h-60px {
    height: 60px !important;
}

.h-12px {
    height: 12px !important;
}

.h-65px {
    height: 65px !important;
}

.h-13px {
    height: 13px !important;
}

.h-70px {
    height: 70px !important;
}

.h-14px {
    height: 14px !important;
}

.h-75px {
    height: 75px !important;
}

.h-15px {
    height: 15px !important;
}

.h-80px {
    height: 80px !important;
}

.h-16px {
    height: 16px !important;
}

.h-85px {
    height: 85px !important;
}

.h-17px {
    height: 17px !important;
}

.h-90px {
    height: 90px !important;
}

.h-18px {
    height: 18px !important;
}

.h-95px {
    height: 95px !important;
}

.h-19px {
    height: 19px !important;
}

.h-100px {
    height: 100px !important;
}

.h-20px {
    height: 20px !important;
}

.h-105px {
    height: 105px !important;
}

.h-21px {
    height: 21px !important;
}

.h-110px {
    height: 110px !important;
}

.h-22px {
    height: 22px !important;
}

.h-115px {
    height: 115px !important;
}

.h-23px {
    height: 23px !important;
}

.h-120px {
    height: 120px !important;
}

.h-24px {
    height: 24px !important;
}

.h-125px {
    height: 125px !important;
}

.h-25px {
    height: 25px !important;
}

.h-130px {
    height: 130px !important;
}

.h-26px {
    height: 26px !important;
}

.h-135px {
    height: 135px !important;
}

.h-27px {
    height: 27px !important;
}

.h-140px {
    height: 140px !important;
}

.h-28px {
    height: 28px !important;
}

.h-145px {
    height: 145px !important;
}

.h-29px {
    height: 29px !important;
}

.h-150px {
    height: 150px !important;
}

.h-30px {
    height: 30px !important;
}

.h-155px {
    height: 155px !important;
}

.h-31px {
    height: 31px !important;
}

.h-160px {
    height: 160px !important;
}

.h-32px {
    height: 32px !important;
}

.h-165px {
    height: 165px !important;
}

.h-33px {
    height: 33px !important;
}

.h-170px {
    height: 170px !important;
}

.h-34px {
    height: 34px !important;
}

.h-175px {
    height: 175px !important;
}

.h-35px {
    height: 35px !important;
}

.h-180px {
    height: 180px !important;
}

.h-36px {
    height: 36px !important;
}

.h-185px {
    height: 185px !important;
}

.h-37px {
    height: 37px !important;
}

.h-190px {
    height: 190px !important;
}

.h-38px {
    height: 38px !important;
}

.h-195px {
    height: 195px !important;
}

.h-39px {
    height: 39px !important;
}

.h-200px {
    height: 200px !important;
}

.h-40px {
    height: 40px !important;
}

.h-250px {
    height: 250px !important;
}

.h-300px {
    height: 300px !important;
}

.h-350px {
    height: 350px !important;
}

.h-400px {
    height: 400px !important;
}

.h-450px {
    height: 450px !important;
}

.h-500px {
    height: 500px !important;
}

.h-550px {
    height: 550px !important;
}

.h-600px {
    height: 600px !important;
}
.simplebar-placeholder {
    display: none;
}
.table-loading {
    position: relative;
}
.table-loading .sniper-content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: #afabab85;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 100;
}
.card-group.summary .card {
    height: 85px;
}

.card-group.summary .icon {
    position: absolute;
    right: 3px;
    top: 3px;
}
.mh-200px {
    max-height: 200px;
}.mh-300px {
    max-height: 300px;
}.mh-400px {
    max-height: 400px;
}.mh-500px {
    max-height: 500px;
}.mh-600px {
    max-height: 600px;
}
@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
    .footer div {
        text-align: center;
        width: 100%;
    }
    form input[name="search"] {
        max-width: 190px;
    }
    button {
        white-space: nowrap !important;
    }
}